@charset: utf-8 ;
body{
    margin: 0 auto ;
    width: 80% ;
    background-color: skyblue  ;
}

.logein{ /* 右上角會員專區 */
    width:40%;
    height:20px;
    background-color:gold;
    float:right;
}

.log{ /* 右上角功能區間格調整 */
    padding:0 20px 0 0 ;
}

.title{
    text-align:center ;
    padding : 20px 0 0 0 ;
    font-size: 50px ;
}

.left{
    background-color:red;
    width:10%;
    text-align:center;
    float:left;
    height:400px;
    line-height:400px;
}

.kind{
    background-color:purple;
    width:100%;
    text-align:center;
    height:40px;
    line-height:40px;
}

.kind ul li{
    display: inline-block;/*li會換行  此命令不換行*/
    padding: 0 100px 0 0;/* 註解測試   留空 */
}

.button{
    font-size:20px;
    letter-spacing:10px;/*文字間間格*/
}

.right{
    background-color:red;
    width:10%;
    text-align:center;
    float:right;
    height:400px;
    line-height:400px;
}

.center{
    background-color:yellow;
    margin: 0 10% 0 10% ;
    text-align:center;
    height:400px;
    line-height:400px;
}

.down{
    background-color:white;
    text-align:center;
}